[user]
	name = Gavin Kelly
	email = gavin.kelly@crick.ac.uk
	signingkey = CC8F50DC
	
[init]
	templatedir = ~/.git_template
[color]
	ui = auto
[core]
	excludesfile = /home/camp/kellyg/.gitignore_global
